/* 
.sections {
    margin-bottom: 50px;
} */

/* TABS */

.h2 {
    width: 100%;
    text-align: center;
}

.tabs-block-wrapper,
.tabs-block-wrapper-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#tabs,
#tabs-two {
    display: flex;
}


.tab-btn {
    margin: auto;
    padding: 5px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.tab-btn-two {
    width: auto;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b42b2b;
    border: 1px solid rgb(221, 255, 126);
    border-radius: 10px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.tab-btn.active {
    background-color: blue;
    color: #ffffff;
}

.tab-btn-two.active {
    background-color: rgba(221, 255, 126, 0.8);
    color: #b42b2b;
}
#contents {
    max-width: 95%;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
}

#contents-two {
    margin: auto;
    max-width: 95%;
    width: 100%;
    height: 100px;
    background-color: rgba(221, 255, 126, 0.3);
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content,
.content-two {
    display: none;
}

.content.active,
.content-two.active {
    display: block;
}

/* Mogal Window */


.h2-mw {
    width: 100%;
    text-align: center;
}

.flex-wrapper {
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#btn-open {
    width: 150px;
    height: 40px;
    background-color: red;
    color: #ffffff;
    font-size: 22px;
    border-radius: 20px;
    cursor: pointer;
}

#btn-close {
    margin-top: 10px;
    font-size: 22px;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 10px;
    cursor: pointer;
}

#wrapper-modal {
    width: 100%;
    height: 100%;
    display: none;
}

#wrapper-modal.active {
    display: block;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 119px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 0.5;
}

#modal-window {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: auto;
    height: 300px;
    z-index: 2;
    border: 1px solid black;
    background-color: #ffffff;
}

/* My first slider */

.body {
    font-family: 'Montserrat', sans-serif;

    background-color: #E5E5E5;
}

.h2-slider {
    padding-left: 162px;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin: 0;
    margin-bottom: 80px;
}

.flex-wrapper-slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    max-width: 800px;
    width: 100%;
    height: 490px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

#btn-prev,
#btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover,
#btn-next:hover {
    opacity: 0.6;
}


#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: #000000;
}

span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
}

span:last-child {
    margin-right: 0;
}